body{
    transform: translateX(2%);
    background-color:black;
/* overflow: hidden; */

}
h4{
    display: flex;
    color: rgb(101 245 253);
    /* justify-content:center; */
    transform:translateY(90%);
    width:45%;
}
.projects{
    /* background-color: rgb(0, 0, 0);
    background-size: cover;
    justify-content: center; 
    border-radius:100px ;
    box-shadow:0 0 15px #00ffff,  0 0 30px rgb(0, 255, 0);
    text-decoration:none;
    width:100px;
    text-transform:uppercase; */
    display:flex;
    transform:translateY(13%);
    color:rgba(255,255,255);
    font-size: 40px;
}
/* .communication{
    background-color: rgb(0, 0, 0);
    background-size: cover;
    justify-content: center; 
    border-radius:100px ;
    box-shadow:0 0 15px #00ffff,  0 0 30px rgb(0, 255, 0);
    color:rgba(255,255,255);
    display:flex;
    text-decoration:none;
    width:115px;
    transform:translateX(90%) translateY(-100%);
    
} */
h1{
    display:flex;
    color:rgba(255,255,255);
    transform:translateY(220%);
    text-transform:capitalize;

}
span{
    display:flex;
    transform:translateX(9%);
    color: rgb(147 249 255);
}


ul{
    list-style:none;
    transform:translateY(111%) translateX(-3%);
    color:rgba(255,255,255) ;
}

img{
    display:flex; 
   width:25% ;
   transform: translateY(-25%) translateX(273%);
   box-shadow:0 0 15px #00ffff,  0 0 30px #0fff;


}
.fa{
    display:flex;
    text-decoration:none;
   
    color:rgba(255,255,255);
    background-size: cover;
    justify-content: center; 
    /*  box-shadow:0 0 15pxrgb(255, 255, 255),  0 0 30px rgb(255, 255, 255);
    text-transform:capitalize;
    text-transform:uppercase; */
    color:rgba(255,255,255);
    
}
.comm{
    display:flex;
}
.co{
    font-size: 40px;
    margin:0% 1%;
    transform: translateY(-228%) translateX(123%);
    
    
}
.fac{
    background-color: rgb(0, 102, 255);
 border-radius:15px ;
    width:45px;
        height: 45px;
}

.wh{
    background-color: rgb(8, 253, 0);
 border-radius:15px ;
    width:45px;
        height: 45px;
}

.ti{
    background-color: rgb(11, 12, 12);
 border-radius:15px ;
    width:45px;
        height: 45px;
   box-shadow:0 0 0.5px rgb(255, 255, 255),  0 0 0.5px rgba(255,255,255);


}